# macOS
.DS_Store
.AppleDouble
.LSOverride

node_modules
yarn.lock
dist
.env*
*.pem
/.npmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude .example files
!*.example

# TypeScript stuff
*.tsbuildinfo

# Turborepo
.turbo

# Local test file
/packages/next-safe-action/src/test.ts

# Website
/website/.docusaurus
/website/node_modules
