/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
body {
	font-size: 18px;
}

.footer {
	border-top: 1px solid #e7e5e4;
	background-color: transparent;
	padding: 1rem;
}

.navbar {
	background-color: #fafaf9 !important;
	box-shadow: 0px 1px #e7e5e4 !important;
}

.root_------node_modules-react-tweet-dist-twitter-theme-quoted-tweet-quoted-tweet-container-module {
	display: none !important;
}

:root {
	--ifm-color-primary: #da6f0c;
	--ifm-color-primary-dark: #c4640b;
	--ifm-color-primary-darker: #b95e0a;
	--ifm-color-primary-darkest: #994e08;
	--ifm-color-primary-light: #f07a0d;
	--ifm-color-primary-lighter: #f28016;
	--ifm-color-primary-lightest: #f49237;
	--ifm-color-primary-lightest: #eea35d;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--ifm-background-color: #fafaf9 !important;
	--ifm-color-emphasis-200: #e7e5e4 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
	--ifm-color-primary: #f79f2d;
	--ifm-color-primary-dark: #f69211;
	--ifm-color-primary-darker: #ef8b09;
	--ifm-color-primary-darkest: #c57208;
	--ifm-color-primary-light: #f8ac49;
	--ifm-color-primary-lighter: #f9b257;
	--ifm-color-primary-lightest: #fac681;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--ifm-background-color: #1c1917 !important;
	--ifm-color-emphasis-200: #44403c !important;

	.footer {
		border-top: 1px solid #44403c !important;
	}

	.navbar {
		background-color: #1c1917 !important;
		box-shadow: 0px 1px #44403c !important;
	}
}
