name: CI/CD

on:
  push:
    paths:
      - "packages/**"
      - "scripts/semantic-release/**"
      - "turbo.json"
      - "package.json"
      - "pnpm-lock.yaml"
      - "release.config.cjs"
      - ".github/workflows/cicd.yml"
    branches:
      - main
      - beta
      - next
      - experimental
      - 4.x
      - 7.x
  pull_request:
    paths:
      - "packages/**"
      - "scripts/semantic-release/**"
      - "turbo.json"
      - "package.json"
      - "pnpm-lock.yaml"
      - "release.config.cjs"
      - ".github/workflows/cicd.yml"

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint:lib
      - run: pnpm run test:lib

  CD:
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/next'|| github.ref == 'refs/heads/experimental' || github.ref == 'refs/heads/4.x' || github.ref == 'refs/heads/7.x' }}
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Audit signatures
        run: npm audit signatures
      - name: Build packages
        run: pnpm run build:packages
      - name: Release packages to npm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run release:packages
